<h2>My least favourite movies</h2>

<ul>
    <li class="odd">
        Boring Movie
    </li>
    <li class="even">
        Boring Movie 2    
    </li>
    <li class="odd">
        Boring Movie 3
    </li>
    <li class="even">
        Boring Movie 4
    </li>
</ul>