<h2>My favourite movies</h2>

<ul>
    <li class="odd">
        Fear and Loathing in Las Vegas
    </li>
    <li class="even">
        The big Lebowski    
    </li>
    <li class="odd">
        The Wolf of Wall Street
    </li>
    <li class="even">
        The Matrix
    </li>
</ul>

<br/>